.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Kosugi", monospace;
    color: white;
    opacity: 50%;
    margin: 15px 0 10px;
  }
  
  .footer__credits {
    margin: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    font-family: "Kosugi", monospace;
    color: white;
    opacity: 50%;
    transition: opacity 1s ease;
    cursor: url(../../../assets/icons/cursors/open-cursor.png), pointer;
  }
  
  .footer__credits:hover {
    opacity: 1;
    cursor: url(../../../assets/icons/cursors/open-cursor.png), pointer;
  }
  
  .footer__site-settings {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Kosugi", monospace;
    color: white;
    opacity: 50%;
    cursor: default;
  }
  
  .footer__site-settings:hover {
    opacity: 1;
    cursor: url(../../../assets/icons/cursors/open-cursor.png), pointer;
  }