@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

/* a {
  color: #e1e1e1;
} */

/* area {
  outline: 200px solid var(--red);
  background-color: red;
} */

/* ANIMATIONS */

@keyframes slideIn {
  from {
    transform: scaleX(0) scale(0.9);
    left: 0;
  }
  to {
    transform: scaleX(1) scale(0.9);
    left: 225px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLate {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes clipIn {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes loadCard {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(100px) translateX(-10%)
      rotate3d(-1, 0, 0, 65deg);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px) rotate3d(-1, 0, 0, 0deg);
  }
}

.page {
  background-color: #181818;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  min-width: 600px;
  max-width: 900px;
  overflow-y: hidden;
  padding: 0 10px;
  transform: rotate3d(0, 0, 0);
  max-height: calc(100% - 60px);
}

/* HEADER */

.header {
  animation: clipIn 1.5s ease-out;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px auto 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  border-bottom: 2px solid white;
}

.header__title {
  animation: clipIn 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  font-style: bold;
  color: #e1e1e1;
  margin: 0px 0px 3px;
  font-size: 36px;
  padding: 0;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.319);
  z-index: 1;
  transform: skewX(0deg);
}

.header__title:hover {
  cursor: default;
}

.header__search::before {
  opacity: 0%;
}

.header__search {
  animation: fadeInLate 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  font-family: "Work Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 300;
  font-size: 20px;
  min-width: 50%;
  box-sizing: border-box;
  color: white;
  border-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
}

.header__logo {
  animation: slideIn 2s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  position: absolute;
  display: flex;
  left: 225px;
  bottom: 4px;
  transform: scale(0.9);
}

.logo__big-rhombus {
  width: 30px;
  height: 38px;
  margin-right: 3px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.logo__small-rhombus-1 {
  width: 10px;
  height: 38px;
  margin-right: 3px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.logo__small-rhombus-2 {
  width: 10px;
  height: 38px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.header__logo .logo__small-rhombus-1,
.header__logo .logo__small-rhombus-2 {
  transition: transform 0.5s ease;
}

.header__logo:hover .logo__small-rhombus-1 {
  transform: translateX(-10px) skewX(-15deg);
}
.header__logo:hover .logo__small-rhombus-2 {
  transform: translateX(-20px) skewX(-15deg);
}

/* input:focus {
  outline: none;
} */

/* MAIN */

.main {
  margin: 0;
  padding: 0;
}

/* INDEX */

.index {
  font-family: "Work Sans", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.index__list {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 120px);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.index__list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.index__list_heading {
  opacity: 0;
  animation: 0.5s fadeIn 1s ease forwards;
  margin: 0;
  padding: 0;
}

.index__list_item {
  margin: 0;
  padding: 0;
  opacity: 0;
  /* transform: rotate3d(0, 0, 0);
  filter: blur(0px); */
  transition: all 1s cubic-bezier(0, 0.69, 0.36, 1.01) 100ms;
}

.index__list_item.unfocused {
  scale: 0.97;
  opacity: 0.4;
  transform: rotate3d(0, 0, 0);
  transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
}

.index__list_heading_main {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 26px;
}

.index__list_heading_description {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 30px;
}

.index__list_information {
  max-height: 0;
  overflow: hidden;
  /* this makes it so that the parent div doesn't 
    take the possible height of this object into account 
    when calculating its height */
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition:
    margin 0.5s ease-in-out,
    0.3s ease-in-out,
    -600ms max-height 1s ease-in-out,
    visibility 1s linear;
}

.index__list_information.active {
  visibility: visible;
  overflow: visible;
  /* refer to the inactive class to 
    understand why i did this */
  max-height: 20000px;
  /* the max-height property has to be set to a pixel value, 
    otherwise the animation breaks */
  opacity: 1;
  margin: 10px 0;
  transition:
    margin 0.5s ease-in-out,
    opacity 0.3s ease-in-out,
    max-height 1s ease-in-out,
    visibility 1s linear;
}

/* INFORMATION */

.information__main {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 auto 10px;
}

.information__cited {
  font-family: "Kosugi", monospace;
  line-height: 1.5em;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.information__figure_grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 10px;
  margin: 0 auto 10px;
}

.information__figure {
  display: flex;
  margin: 0px auto 0px 0;
  border-radius: 4px;
  flex-direction: column;
  background-color: #d9d9d9;
  max-width: 300px;
}

.information__figure.special {
  background-color: #262626;
}

.information__heading{
  font-family: "Work sans", sans-serif;
  font-size: 20px;
  /* text-decoration: underline; */
  font-style: italic;
  font-weight: bold;
  text-align: right;
}

/* FIGURE */

.figure__num {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Sometype Mono";
  font-weight: 500;
  color: black;
}

.figure__image {
  background-color: #262626;
  max-width: 95%;
  margin: auto;
  border-radius: 11px;
  cursor: pointer;
}

.figure__caption {
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Sometype Mono";
  font-weight: 500;
  color: black;
}

.figure__partnums {
  font-family: "Sometype Mono";
  font-size: 15px;
  margin: 0;
  color: white;
}

.part_number {
  font-family: monospace;
}

.part__numbers {
  position: relative;
  margin: auto;
  font-family: "Sometype Mono";
  font-size: 18px;
  display: flex;
  background-color: #303030;
  flex-direction: column;
  border-radius: 5px;
  max-width: 90%;
}

.part__numbers_setting {
  display: flex;
  align-items: center;
  justify-content: right;
}

.part__numbers_heading {
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 7px 20px;
  display: flex;
}

.part__numbers_caption {
  margin: 5px auto 10px 20px;
  font-size: 15px;
}

.part__numbers_image {
  z-index: 3;
  max-width: 100%;
  display: flex;
  margin: 5px auto;
  /* pointer-events: none; */
  /* background-color: #d9d9d9; */
  border-radius: 10px;
}

.part__numbers_image-container {
  position: relative;
  display: flex;
  margin: 5px auto;
  max-width: 95%;
  border-radius: 10px;
  /* background-image: url("./images/exhaust-manifold-parts-0/exhaust-manifold-parts-0.png"); */
  background-color: #e1e1e1;
  /* center center no-repeat; */
}

.part__numbers_image-canvas {
  width: 100%;
  /* this calculation has to take place because for some odd reason,
   position absolute and margins don't play nice */
  height: calc(100% - 10px);
  position: absolute;
  display: flex;
  z-index: 1;
  margin: 5px auto;
}

.part__numbers_list-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  margin: 0 0 5px;
}

.part__numbers_copied {
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgb(31, 31, 31, 0.9);
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.part__numbers_copied.active {
  background-color: rgb(31, 31, 31, 0.9);
  opacity: 1;
  visibility: visible;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
/* 
  p {
    animation: slideUp 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  } */
}

/* figure nest */

.figure__nest {
  z-index: 5;
  cursor: pointer;
  max-width: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  visibility: visible;
  overflow: visible;
  background-color: #181818;
}

.figure__nest.hidden {
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}

.figure__nest-item {
  z-index: 4;
  margin: 0;
  padding: 0;
  font-family: "Sometype Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  background-color: #d9d9d9;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  max-height: 310px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.figure__nest-item:hover {
  background-color: #cf2a2a;
  color: white;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.figure__nest-item_image {
  margin: 25px 0 0;
  width: 100%;
  height: 140px;
  border-radius: 10px;
  background-color: #262626;
}

.figure__nest-item_title {
  margin: 10px 0 0;
  padding: 0;
}

.figure__nest-container {
  max-width: 100%;
}

.collapsed__nest-container {
  margin-bottom: 0px;
  z-index: 1;
  display: flex;
  width: calc(100vw - 20px);
  min-width: 20px;
  max-width: 900px;
  height: 0px;
  visibility: hidden;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 0px;
}

.collapsed__nest-container.active {
  width: calc(100vw - 20px);
  margin-bottom: 10px;
  height: 40px;
  visibility: visible;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.collapsed__nest {
  position: relative;
  overflow-x: scroll;
  height: 40px;
  font-family: "Sometype Mono", sans-serif;
  font-weight: 700;
  display: flex;
  gap: 10px;
  margin: 0 0 10px;
  padding: 0;
}

.collapsed__nest-back {
  font-family: "Sometype Mono", sans-serif;
  font-weight: 700;
  cursor: pointer;
  min-width: max-content;
  height: 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  background-color: #e1e1e1;
  padding: 10px 10px;
  margin: 0 10px 0 0;
}

.collapsed__nest-back:hover {
  background-color: #cf2a2a;
  color: white;
  /* border: 3px solid red; */
  /* border-style: inset; */
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* something crazier needs to be here.. possibly do a nested div and make 
     the background move with a clip path */
}

.collapsed__nest-item:hover {
  background-color: #cf2a2a;
  color: white;
  /* border: 3px solid red;
  border-style: inset; */
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* something crazier needs to be here.. possibly do a nested div and make 
     the background move with a clip path */
}

.collapsed__nest-item {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-width: max-content;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  background-color: #e1e1e1;
  padding: 10px 10px;
  margin: 0;
}

.figure__nest {
  max-height: 2000px;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.figure__grid-container {
  max-width: 100%;
  margin-bottom: 10px;
}

.figure__grid {
  max-height: 2000px;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.figure__grid_image-container {
  font-family: "Sometype Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  background-color: #d9d9d9;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  max-height: max-content;
}

.figure__grid_image {
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  list-style-type: none;
  min-height: 250px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  cursor: pointer;
}

.figure__grid_image-num {
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  justify-content: flex-end;
}

.figure__grid_image-name {
  margin: 10px 0 0 0;
}

.information__cited_link {
  opacity: 1;
  color: white;
  animation: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.information__cited_link:hover {
  color: red;
  cursor: pointer;
}

.information__cited_link::after {
  color: rgb(177, 177, 177);
}

.index__list_item:nth-of-type(2) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 100ms;
}
.index__list_item:nth-of-type(3) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 200ms;
}
.index__list_item:nth-of-type(4) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 300ms;
}
.index__list_item:nth-of-type(5) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 400ms;
}
.index__list_item:nth-of-type(6) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 500ms;
}
.index__list_item:nth-of-type(7) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 600ms;
}
.index__list_item:nth-of-type(8) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 700ms;
}
.index__list_item:nth-of-type(9) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 700ms;
}
.index__list_item:nth-of-type(10) {
  animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
  animation-delay: 700ms;
}

/* GRID */

.griditem__title-box {
  display: grid;
  max-width: 100%;
  grid-template-columns: 20% repeat(4, 10%) 40%;
  grid-template-rows: 1fr 1.75fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: 8px solid rgb(255, 255, 255);
  position: relative;
  border-radius: 2px;
  background-color: #1f1f1f;
  transition: scale 2s cubic-bezier(0, 0.69, 0.36, 1.01) 100ms;
}

.griditem__title-box.unfocused {
  scale: 0.97;
  transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
}

.title-box__model-code {
  margin: auto 0;
  padding: 7px;
  grid-row-start: 1;
  grid-row-end: 2;
  border-right: 3px solid white;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  justify-self: center;
}

.title-box__heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 17px;
  margin: 0;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: end;
  border-top: 3px solid white;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
}

.title-box__model {
  margin: auto 0;
  padding: 7px;
  border-right: 3px solid white;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

.title-box__heading_tri {
  margin-right: 20px;
  color: white;
  transform: rotate(0deg);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  transition: 1s cubic-bezier(0, 0.89, 0.31, 0.95);
  cursor: pointer;
}

.title-box__heading_tri.active {
  color: #cf2a2a;
  transform: rotate(90deg);
  transition: 1s cubic-bezier(0, 0.89, 0.31, 0.95);
}

.cursor_hover {
  cursor: help;
}

.modal {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  visibility: hidden;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.modal.active {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: visible;
  opacity: 100%;
}

.modal__container {
  display: flex;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  align-items: flex-start;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
  padding: 10px;
  background: #d9d9d9;
  border-radius: 4px;
  z-index: 20;
  position: relative;
}

.modal__container.active{
 transform: translateX(0);

 transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal__preview_image{
  max-width: 50%;
  min-width: 50cqw;
  border-radius: 5px;
  margin: 5px 5px;
  background-color: #181818;
}

.modal__preview_text{
  font-family: 'Sometype Mono';
  font-weight: 800;
  margin: 10px 0;
}

/* rounded switch from w3schools */

.settings__title{
  padding: 0;
  margin: 10px 0 0 8px;
  font-family: "Work Sans";
  font-weight: normal;
  font-style: italic;
  color: #181818;
}

.settings__setting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kosugi", monospace;
  font-size: 15px;
  margin: 0px 10px 0px;
  padding: 0;
}

.settings__switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-left: 10px;
}

.settings__switch-heading {
  margin: 0;
}

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
/* 
input:checked + .slider {
  background-color: #2196F3;
  background-color: #cf2a2a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
} */

/* -------------------------------------------------------------------------------- */
/*                                  MOBILE BREAKPOINT 1                             */
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 720px) and (min-width: 370px) {

  .figure__grid{
    grid-template-columns: repeat(minmax(1, 2), minmax(200px, auto));
  }

  .figure__grid_image-container {
    max-height: 220px;
  }

  .figure__grid_image {
    min-height: 70%;
  }

  .page {
    min-width: 320px;
  }

  .header {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    border-bottom: 2px solid white;
  }

  .header__title {
    animation: clipIn 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
    font-size: 24px;
  }

  .header__title:hover {
    cursor: default;
  }

  .header__search {
    font-size: 20px;
  }

  @keyframes slideIn {
    from {
      transform: scaleX(0) scale(0.6);
      left: 0;
    }
    to {
      transform: scaleX(1) scale(0.6);
      left: 140px;
    }
  }

  .header__logo {
    animation: slideIn 2s cubic-bezier(0.17, 0.67, 0.45, 0.98);
    left: 140px;
    bottom: 4px;
    transform: scale(0.6);
  }

  .index__list {
    grid-gap: 10px;
    max-height: calc(100vh - 110px);
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

  .index__list_heading_main {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
  }

  .index__list_heading_construction {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 40%;
    font-weight: 300;
    font-family: "Work sans", monospace;
  }

  .index__list_heading_description {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
  }

  .index__list_item {
    max-width: calc(100vw - 20px);
  }

  .griditem__title-box {
    grid-template-columns: 20% repeat(4, 15%) 20%;
    border: 4px solid rgb(255, 255, 255);
  }

  .title-box__model-code {
    font-size: 2.4vw;
    justify-self: center;
  }

  .title-box__heading {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 8px;
    border-top: 3px solid white;
    font-size: 4vw;
    max-width: 100vw;
  }

  .modal__preview_image{
    min-width: 70cqw;
  }

  .title-box__model {
    font-size: 2.8vw;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-self: center;
  }

  .title-box__heading_tri {
    font-size: 2.8vw;
  }

  .griditem__title-box.unfocused {
    scale: 1;
    transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
  }

  .index__list_item.unfocused {
    scale: 1;
    opacity: 0.4;
    transform: rotate3d(0, 0, 0);
    transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
  }

  .information__main {
    font-size: 12.5px;
  }

  .information__cited {
    font-size: 12.5px;
  }

  .figure__num {
    font-size: 10px;
  }

  /* fix these */

  .information__figure_grid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

  .index__list::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .information__figure {
    max-width: 200px;
    max-height: 200px;
  }

  /* .information__figure {
    max-width: 250px;
  } */

  .figure__image {
    max-width: 90%;
    max-height: 300px;
  }

  .figure__caption {
    font-size: 10px;
  }

  .figure__partnums {
    font-size: 12px;
  }

  .part_number {
    font-family: monospace;
  }

  .part__numbers {
    max-width: 95%;
  }

  .part__numbers_setting {
    visibility: hidden;
    width: 0;
  }

  .part__numbers_heading {
    font-size: 10px;
    margin: 5px 10px 0px;
    height: 12px;
  }

  .part__numbers_caption {
    margin: 0 10px 5px;
    font-size: 10px;
  }

  .part__numbers_list-heading {
    font-size: 15px;
  }

  .figure__nest-container{
    font-size: 14px;
  }

  .figure__nest{
    grid-template-columns: repeat(auto-fill, calc(50% - 5px));
  }

  .figure__nest-item_title{
    font-size: 14px;
  }

  .part__numbers_copied{
    font-size: 12px;
  }

}

@media screen and (max-height: 550px) {
  .page{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: blur(4px);
    opacity: 0;
    visibility: hidden;
  }
}

.footer__logo {
  position: absolute;
  display: flex;
  top: -6%;
  right: -6%;
  transform: scale(0.9);
  cursor: pointer;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__logo:hover{
  scale: 1.2;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__logo:hover .text_floater{
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.footer__logo:hover .logo__big-rhombus{
  transform: skewX(-15deg) scaleX(2.2) translateX(7px);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__logo .logo__small-rhombus-1,
.footer__logo .logo__small-rhombus-2 {
  transition: transform 0.5s ease;
}

.footer__logo:hover .logo__small-rhombus-1 {
  transform: translateX(-10px) skewX(-15deg);
}
.footer__logo:hover .logo__small-rhombus-2 {
  transform: translateX(-20px) skewX(-15deg);
}

.logo__big-rhombus {
  width: 30px;
  height: 38px;
  margin-right: 3px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}


.logo__big-rhombus.in_footer{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo__small-rhombus-1 {
  width: 10px;
  height: 38px;
  margin-right: 3px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.logo__small-rhombus-2 {
  width: 10px;
  height: 38px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.text_floater{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px;
  top: 15%;
  left: 5px;
  font-family: "Kosugi", monospace;
  color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
  text-shadow: #000 2px 0 5px;
}

.footer__text{
  font-size: 14px;
}