@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

/* ANIMATIONS */

@keyframes slideIn {
  from {
    transform: scaleX(0) scale(0.9);
    left: 0;
  }
  to {
    transform: scaleX(1) scale(0.9);
    left: 225px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLate {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes clipIn {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes loadCard {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(100px) translateX(-10%)
      rotate3d(-1, 0, 0, 65deg);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px) rotate3d(-1, 0, 0, 0deg);
  }
}


/* INDEX */

.index {
    font-family: "Work Sans", sans-serif;
    /* color: white; */
    margin: 0;
    padding: 0;
  }
  
  .index__list {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: grid;
    grid-gap: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 120px);
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
  }
  
  .index__list::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .index__list_heading {
    color: white;
    opacity: 0;
    animation: 0.5s fadeIn 1s ease forwards;
    margin: 0;
    padding: 0;
  }
  
  .index__list_heading_construction{
    /* color: white; */
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 95%;
    font-weight: 300;
    font-family: "Work sans", monospace;
  }
  
  .index__list_item {
    margin: 0;
    padding: 0;
    opacity: 0;
    color: #e1e1e1;
    /* transform: rotate3d(0, 0, 0);
    filter: blur(0px); */
    transition: all 1s cubic-bezier(0, 0.69, 0.36, 1.01) 100ms;
  }


  
  @keyframes hideIndexItem {
    0%{
      display: "";
      opacity: 1;
    }
    90%{
      display: "";
      opacity: 0;
    }
    100%{
      display: none;
    }
  }
  
  .index__list_item.hidden{
    animation: hideIndexItem 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .index__list_item.unfocused {
    scale: 0.97;
    opacity: 0.4;
    transform: rotate3d(0, 0, 0);
    transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
  }
  
  .index__list_heading_main {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 26px;
  }
  
  .index__list_heading_description {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
  }
  
  .index__list_information {
    max-height: 0;
    overflow: hidden;
    /* this makes it so that the parent div doesn't 
      take the possible height of this object into account 
      when calculating its height */
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition:
      margin 0.5s ease-in-out,
      0.3s ease-in-out,
      -600ms max-height 1s ease-in-out,
      visibility 1s linear;
  }
  
  .index__list_information.active {
    visibility: visible;
    overflow: visible;
    /* refer to the inactive class to 
      understand why i did this */
    max-height: 20000px;
    /* the max-height property has to be set to a pixel value, 
      otherwise the animation breaks */
    opacity: 1;
    margin: 10px 0;
    transition:
      margin 0.5s ease-in-out,
      opacity 0.3s ease-in-out,
      max-height 1s ease-in-out,
      visibility 1s linear;
  }
  
  /* INFORMATION */
  
  .information__main {
    font-family: "Work Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2em;
    margin: 10px auto 10px;
  }
  
  .information__cited {
    font-family: "Kosugi", monospace;
    line-height: 1.5em;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  
  .information__figure_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
    grid-gap: 10px;
    margin: 0 0 10px;
    max-width: 900px;
    overflow-x: scroll;
  }
  
  .information__figure {
    display: flex;
    margin: 0px auto 0px 0;
    border-radius: 4px;
    flex-direction: column;
    background-color: #d9d9d9;
    max-width: 300px;
    overflow: hidden;
    width: 100%;
    min-height: max-content;
    box-sizing: border-box;
    /* white-space: nowrap; */
  }
  
  .information__figure.special {
    background-color: #262626;
  }
  
  /* FIGURE */
  
  .figure__num {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Sometype Mono";
    font-weight: 500;
    color: black;
  }
  
  .figure__image {
    background-color: #262626;
    max-width: 95%;
    margin: auto;
    border-radius: 11px;
    /* box-sizing: border-box; */
  }
  
  .figure__caption {
    /* height: 16px; */
    margin-right: auto;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Sometype Mono";
    font-weight: 500;
    color: black;
    /* display: inline-block; */
    position: relative;
    /* overflow: scroll; */
    /* animation: textmarquee 14s linear infinite; */
    /* marquee-style: "slide";
    overflow: hidden; */
  }
  
  .figure__partnums {
    font-family: "Sometype Mono";
    font-size: 15px;
    margin: 0;
    color: white;
  }
  
  .part_number {
    font-family: monospace;
  }
  
  .part__numbers {
    position: relative;
    margin: auto;
    font-family: "Sometype Mono";
    font-size: 15px;
    display: flex;
    background-color: #303030;
    flex-direction: column;
    border-radius: 5px;
    max-width: 90%;
  }
  
  .part__numbers_setting{
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .part__numbers_heading {
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 7px 20px;
    display: flex;
  }
  
  .part__numbers_caption {
    margin: 5px auto 10px 20px;
    font-size: 15px;
  }
  
  .part__numbers_image {
    display: flex;
    margin: 5px auto;
    max-width: 95%;
    background-color: #d9d9d9;
    border-radius: 10px;
    /* background-image: url('./images/exhaust-manifold-parts-0/exhaust-manifold-parts-0.png') center center no-repeat; */
  }
  
  .part__numbers_list-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    margin: 0 0 5px;
  }
  
  .part__numbers_copied {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(31, 31, 31, 0.9);
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .part__numbers_copied.active {
    background-color: rgb(31, 31, 31, 0.9);
    opacity: 1;
    visibility: visible;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  
    p {
      animation: slideUp 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  
  .information__cited_link {
    opacity: 1;
    color: white;
    animation: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .information__cited_link:hover {
    color: red;
    cursor: pointer;
  }
  
  .information__cited_link::after {
    color: rgb(177, 177, 177);
  }
  
  .index__list_item:nth-of-type(2) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 100ms;
  }
  .index__list_item:nth-of-type(3) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 200ms;
  }
  .index__list_item:nth-of-type(4) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 300ms;
  }
  .index__list_item:nth-of-type(5) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 400ms;
  }
  .index__list_item:nth-of-type(6) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 500ms;
  }
  .index__list_item:nth-of-type(7) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 600ms;
  }
  .index__list_item:nth-of-type(8) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 700ms;
  }
  .index__list_item:nth-of-type(9) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 700ms;
  }
  .index__list_item:nth-of-type(10) {
    animation: loadCard 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98) forwards;
    animation-delay: 700ms;
  }
  
  /* GRID */
  
  .griditem__title-box {
    display: grid;
    max-width: 100%;
    grid-template-columns: 20% repeat(4, 10%) 40%;
    grid-template-rows: 1fr 1.75fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: 8px solid rgb(255, 255, 255);
    position: relative;
    border-radius: 2px;
    background-color: #1f1f1f;
    transition: scale 2s cubic-bezier(0, 0.69, 0.36, 1.01) 100ms;
  }
  
  .griditem__title-box.unfocused {
    scale: 0.97;
    transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
  }

  .griditem__title-box:hover{
    scale: 1.01;
    transition: scale 0.4s;
  }
  
  .title-box__model-code {
    margin: auto 0;
    padding: 7px;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: 3px solid white;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
  }
  
  .title-box__heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 17px;
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: end;
    border-top: 3px solid white;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
  }
  
  .title-box__model {
    margin: auto 0;
    padding: 7px;
    border-right: 3px solid white;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
  }
  
  .title-box__heading_tri {
    margin-right: 20px;
    color: white;
    transform: rotate(0deg);
    font-size: 25px;
    align-self: center;
    font-style: normal;
    transition: 1s cubic-bezier(0, 0.89, 0.31, 0.95);
    cursor: pointer;
  }
  
  .title-box__heading_tri.active {
    color: #cf2a2a;
    transform: rotate(90deg);
    transition: 1s cubic-bezier(0, 0.89, 0.31, 0.95);
  }
  
  .cursor_hover {
    cursor: help;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Kosugi", monospace;
    color: white;
    opacity: 50%;
    margin: 0 0 10px;
  }
  
  .footer__credits {
    display: flex;
    margin: 10px 0px 16px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Kosugi", monospace;
    text-decoration: none;
    color: white;
    opacity: 50%;
    transition: opacity 1s ease;
    cursor: url(../../../assets/icons/cursors/open-cursor.png), pointer;
  }
  
  .footer__credits:hover {
    opacity: 1;
    cursor: url(../../../assets/icons/cursors/open-cursor.png), pointer;
  }
  
  .footer__site-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Kosugi", monospace;
    color: white;
    opacity: 50%;
    cursor: default;
    margin: 10px 0px 16px;
  }
  
  .footer__site-settings:hover{
    opacity: 1;
    cursor: url(../../../assets/icons/cursors/open-cursor.png), pointer;
  }
  
  .modal {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    visibility: hidden;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
  }
  
  .modal.active{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: visible;
    opacity: 100%;
  }
  
  .modal__container {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    max-width: max-content;
    margin: auto;
    padding: 10px;
    background: #d9d9d9;
    border-radius: 4px;
  }

  /* rounded switch from w3schools */
  
  
  .settings__setting{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kosugi", monospace;
    font-size: 15px;
    margin: 0px 10px 0px;
    padding: 0;
  }
  
  .settings__switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 10px;
  }
  
  .settings__switch-heading{
    margin: 0;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: #cf2a2a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }

  
  
  /* -------------------------------------------------------------------------------- */
  /*                                  MOBILE BREAKPOINT 1                             */
  /* -------------------------------------------------------------------------------- */
  
  @media screen and (max-width: 720px) and (min-width: 370px){
    .page {
      min-width: 320px;
    }
  
    .header {
      font-family: "Work Sans", sans-serif;
      width: 100%;
      border-bottom: 2px solid white;
    }
    
    .header__title {
      animation: clipIn 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
      font-size: 24px;
    }
    
    .header__title:hover {
      cursor: default;
    }
    
    .header__search {
      font-size: 20px;
    }
  
    @keyframes slideIn {
      from {
        transform: scaleX(0) scale(0.6);
        left: 0;
      }
      to {
        transform: scaleX(1) scale(0.6);
        left: 140px;
      }
    }
    
    .header__logo {
      animation: slideIn 2s cubic-bezier(0.17, 0.67, 0.45, 0.98);
      left: 140px;
      bottom: 4px;
      transform: scale(0.6);
    }
  
    .index__list {
      grid-gap: 10px;
      max-height: calc(100vh - 110px);
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none;
    }
  
    .index__list_heading_main {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 20px;
    }
  
    .index__list_heading_construction{
      color: white;
      text-decoration: none;
      margin: 0;
      padding: 0;
      font-size: 40%;
      font-weight: 300;
      font-family: "Work sans", monospace;
    }
    
    .index__list_heading_description {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 24px;
    }
  
    .index__list_item {
      max-width: calc(100vw - 20px);
    }
  
    .griditem__title-box {
      grid-template-columns: 20% repeat(4, 12%) auto;
      border: 4px solid rgb(255, 255, 255);
    }
  
    .title-box__model-code {
      font-size: 2.4vw;
    }
    
    .title-box__heading {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 10px 10px;
      border-top: 3px solid white;
      font-size: 4vw;
      max-width: 100vw;
    }
    
    .title-box__model {
      font-size: 2.8vw;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    
    .title-box__heading_tri {
      font-size: 2.8vw;
    }
  
    .griditem__title-box.unfocused {
      scale: 1;
      transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
    }
  
    .index__list_item.unfocused {
      scale: 1;
      opacity: 0.4;
      transform: rotate3d(0, 0, 0);
      transition: 3s cubic-bezier(0, 0.69, 0.36, 1.01);
    }
  
    .information__main {
      font-size: 12.5px;
    }
    
    .information__cited {
      font-size: 12.5px;
    }
  
    .figure__num {
      font-size: 10px;
    }
  
    /* fix these */
  
    .information__figure_grid {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      overflow-x: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none;
    }
    
    .index__list::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    
  
    .information__figure{
      max-width: 200px;
      min-height: max-content;
    }
  
    /* .information__figure {
      max-width: 250px;
    } */
    
    .figure__image {
      max-width: 90%;
      max-height: 300px;
    }
    
    .figure__caption {
      font-size: 10px;
    }
    
    .figure__partnums {
      font-size: 12px;
    }
    
    .part_number {
      font-family: monospace;
    }
    
    .part__numbers {
      max-width: 95%;
    }
    
    .part__numbers_setting{
      visibility: hidden;
    }
    
    .part__numbers_heading {
      font-size: 10px;
      margin: 5px 10px 0px;
    }
    
    .part__numbers_caption {
      margin: 0 10px 5px;
      font-size: 10px;
    }
    
    .part__numbers_list-heading {
      font-size: 15px;
    }
  }