.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login__form {
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  height: max-content;
  color: white;
  display: flex;
  flex-direction: column;
}

.login__form_heading {
  font-size: 30px;
  font-weight: 700;
}

.login__form_input {
  margin: 5px 0;
  background-color: #00000000;
  border-bottom: 2px solid white;
}

.login__form_input:focus {
  outline: none;
  background-color: #00000000;
}

.login__form_button {
  margin: 10px 0;
  background-color: white;
  color: black;
  border-radius: 4px;
  outline: none;
}

.login__form_button:disabled {
  opacity: 0.5;
}

.login__form_actions {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
}

.login__form_button {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 10px;
  background-color: #181818;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  outline: none;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login__form_button:hover {
  background-color: white;
  color: #181818;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login__photo-stack {
  color: black;
  height: 350px;
  width: 100%;
  position: relative;
  margin: 10px 0 20px;
}

@media screen and (max-width: 600px) {
  .login{
    max-height: 100svh;
  }
  
  .login__photo-stack {
    height: 60vw;
  }

  .login__form {
    padding: 40px;
  }
}
