@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.modal {
  z-index: 0;
  position: absolute;
  top: 0%;
  opacity: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #cf2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.active {
  opacity: 1;
  z-index: 10;
  left: 0%;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit {
  display: flex;
  flex-direction: column;
  background-color: #cf2a2a;
  max-height: calc(100vh - 120px);
  max-width: clamp(200px, 500px, calc(100vw - 100px));
  position: relative;
  border: 4px solid white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.submit__shadow {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.shadow__bottom {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  background: rgb(207, 42, 42);
  background: linear-gradient(
    0deg,
    rgba(207, 42, 42, 1) 0%,
    rgba(24, 24, 24, 0) 93%
  );
}

@keyframes bounce {
  0%{
    top: -15px;
    opacity: 0;
  }
  10%{
    top: -12px;
    opacity: 1;
  }
  90%{
    top: 0px;
    opacity: 1;
  }
  100%{
    top: 0px;
    opacity: 0;
  }
}

.shadow__bottom_arrow{
  position: absolute;
  z-index: 100;
  width: 100%;
  background-image: url('/images/carat.png') ;
  height: 100%;
  background-position: center;
  background-size: 8%;
  background-repeat: no-repeat;
  rotate: 180deg;
  animation: 1s bounce linear infinite;
}

.shadow__top{
  position: absolute;
  top: 40px;
  height: 20%;
  width: 100%;
  background: rgb(207, 42, 42);
  background: linear-gradient(
    180deg,
    rgba(207, 42, 42, 1) 0%,
    rgba(24, 24, 24, 0) 93%
  );
}

.submit__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #cf2a2a88;
  z-index: 30;
  gap: 10px;
}

.submit__loading :nth-child(1) {
  animation: 1s fireOrder 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.submit__loading :nth-child(2) {
  animation: 1s fireOrder 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.submit__loading :nth-child(3) {
  animation: 1s fireOrder 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.submit__loading :nth-child(4) {
  animation: 1s fireOrder 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.submit__loading :nth-child(5) {
  animation: 1s fireOrder 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.loading_fire {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid white;
}

@keyframes fireOrder {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.submit__heading {
  z-index: 2;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.submit__heading_logo {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 120px;
}

.submit__heading_logo_text{
  position: absolute;
  color: #cf2a2a;
  top: -41;
  font-size: 20px;
  right: -123px;
  pointer-events: none;
}

.submit__button {
  font-weight: 700;
  color: #cf2a2a;
  background-color: white;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 4px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  margin-top: 10px;
  width: 100vw;
  font-size: 25px;
}

.submit__button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.submit__button:hover {
  cursor: pointer;
  background-color: #cf2a2a;
  border: 2px solid white;
  color: white;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit__button-i {
  width: 100vw;
  font-size: 20px;
  opacity: 0.7;
  color: white;
  font-weight: 700;
  background-color: #cf2a2a;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 4px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  margin-top: 10px;
}

.submit__button-i:hover {
  opacity: 1;
  background-color: white;
  color: #cf2a2a;
}

.submit__form {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  font-weight: 400;
  flex-direction: column;
  position: relative;
}

.submit__label {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.submit__input {
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
}

.submit__input:focus {
  outline: none;
}

.submit__input::placeholder {
  color: rgba(255, 255, 255, 0.724);
}

.submit__input_option {
  margin: 0;
  padding: 0;
}

.submit__input_option_placeholder {
  opacity: 0.2;
}

.submit__input_file {
  margin-top: 10px;
}

.submit__post_text {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.submit__button_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submit__input_file::file-selector-button {
  color: #cf2a2a;
  background-color: white;
  border: 2px solid #cf2a2a;
  border-radius: 4px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.submit__input_file::file-selector-button:hover {
  color: white;
  background-color: #cf2a2a;
  border: 2px solid white;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.submit__post_photo-list {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width: 100%;
}

.submit__post_photo {
  flex-shrink: 0;
  filter: drop-shadow(5px 5px 3px #00000054);
  z-index: 4;
  width: 150px;
  height: 200px;
  position: relative;
  background-image: url("/images/polaroid_frame.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.submit__post_photo_image {
  background-color: black;
  z-index: 2;
  position: absolute;
  width: 128px;
  height: 132px;
  top: 20px;
  left: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.submit__post_photo_image-description {
  position: absolute;
  bottom: 20px;
  left: 9px;
}

/* -------------------------------------------------------------------------------- */
/*                                  MOBILE BREAKPOINT                               */
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 700px) and (min-width: 320px) {

  .modal{
    height: 100svh;
  }

  .submit {
    border: 2px solid #00000000;
    max-width: calc(100vw - 20px);
    max-height: calc(100svh - 100px);
  }

  .submit__heading_logo {
    top: 50px;
    right: 165px;
  }

  .submit__heading {
    font-size: 25px;
  }

  .submit__button-i {
    font-size: 18px;
  }

  .submit__button {
    font-size: 28px;
  }
}

/* -------------------------------------------------------------------------------- */
/*                           MOBILE LANDSCAPE BREAKPOINT                            */
/* -------------------------------------------------------------------------------- */

@media screen and (max-height: 500px) and (min-height: 300px) {
  .submit{
    max-height: calc(100svh - 70px);
  }
}