@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'Alte Haas Grotesk';
  src: url(/fonts/Alte\ Haas\ Grotesk/AlteHaasGroteskBold.ttf);
}

:root{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #181818;
  font-family: 'Alte Haas Grotesk';
  --work-sans: var(--font-work-sans);
}