@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("../../public/fonts/Alte\ Haas\ Grotesk/AlteHaasGroteskRegular.ttf");
}

body {
  font-family: var(--font-work-sans), sans-serif;
  overflow: hidden;
  font-variant-emoji: text;
}

.code {
  font-family: var(--font-sometype-mono), monospace;
  font-variant-emoji: text;
}

.jp {
  font-family: var(--font-kosugi), sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}
:root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #181818;
  font-family: "Alte Haas Grotesk";
  max-width: 100svw;
  max-height: 100svh;
  --work-sans: var(--font-work-sans);
}

input:focus {
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

a {
  color: inherit;
}
