/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* animations */

@keyframes slideIn {
  from {
    transform: scaleX(0) scale(0.9);
    left: 0;
  }
  to {
    transform: scaleX(1) scale(0.9);
    left: 100px;
  }
}

@keyframes pulseText{
  0%{
    opacity: 100%;
    scale: 1;
    content: "loading.";
  }
  50%{
    opacity: 50%;
    scale: 1;
    content: "loading.."
  }
  100%{
    opacity: 100%;
    scale: 1;
    content: "loading..."
  }
}

@keyframes moveBackground{
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 0% 100%;
  }
}

@keyframes fireOrder{
  0%{
    background-color: white;
  }
  100%{
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes backgroundSlide {
  from {
    transform: skew(-15deg) scaleX(1.5) translateX(-200vw);
  }
  to {
    transform: skew(-15deg) scaleX(1.5) translateX(0);
  }
}

@keyframes firingOrderSlide {
  from {
    transform: translateX(-200vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLate {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes clipIn {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes loadCard {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(100px) translateX(-10%)
      rotate3d(-1, 0, 0, 65deg);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px) rotate3d(-1, 0, 0, 0deg);
  }
}

/* page */

.page{
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/backgroundwhite.png);
  animation: 60s moveBackground linear infinite;
  display: flex;
  margin: 0;
  padding: 0 40px;
  background-color: #181818;
  background-repeat: repeat;
  background-size: 50%;
}

.page__container {
  font-family: "Work Sans", sans-serif;
  background-color: #18181800;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: rotate3d(0, 0, 0);
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  min-width: 500px;
  max-width: 1000px;
}

/* header */

.header {
  animation: clipIn 1.5s ease-out;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  border-bottom: 2px solid white;
}

.header__title {
  font-family: "Work Sans", sans-serif;
  display: flex;
  align-items: end;
  animation: clipIn 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  font-weight: bold;
  color: #e1e1e1;
  margin: 0px;
  font-size: 36px;
  padding: 0;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.319);
  z-index: 1;
  line-height: 50px;
  transform: skewX(0deg);
}

.smalltext {
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
}

.header__about-modal-trigger {
  animation: fadeInLate 2s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  font-family: "Work Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 20px;
  box-sizing: border-box;
  color: rgb(161, 161, 161);
  border-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
  cursor: pointer;
}

.header__about-modal-trigger:hover {
  color: rgb(253, 253, 253);
  scale: 1.02;
}

/* nav */

.nav {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

/* modal */

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
  z-index: 5;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.homepage__footer{
  
}

.page__loading{
  left: 0;
  top: 0;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: -20;
  overflow: hidden;
}

.page__loading.active{
  z-index: 20;
}

.page__loading_text{
  animation: pulseText 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  position: absolute;
  color: white;
  z-index: 10;
}

.page__loading_background{
  background-color: #cf2a2a;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: skew(-15deg) scaleX(1.5) translateX(-100vw);
}

.page__loading_background.active{
  animation: 0.5s backgroundSlide cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.page__loading_firingorder{
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 999;
  transform: translateX(-100vw);
}

.page__loading_firingorder.active{
  animation: 0.5s firingOrderSlide cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.page__loading_firingorder :nth-child(1){
  animation: 1s fireOrder 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.page__loading_firingorder :nth-child(2){
  animation: 1s fireOrder 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)  infinite;
}
.page__loading_firingorder :nth-child(3){
  animation: 1s fireOrder 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.page__loading_firingorder :nth-child(4){
  animation: 1s fireOrder 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.page__loading_firingorder :nth-child(5){
  animation: 1s fireOrder 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.page__loading_fire{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid white;
}

/* -------------------------------------------------------------------------------- */
/*                                  MOBILE BREAKPOINT                               */
/* -------------------------------------------------------------------------------- */

@media screen and ((max-width: 600px) and (min-width: 320px)) {

  .page{
    width: 100vw;
    padding: 0;
  }

  .page__container {

    min-width: 320px;
    max-width: 100%;
    margin: 0 20px;
    padding: 0px 0px;
  }

  .header__title {
    font-size: 30px;
    line-height: 45px;
  }

  .nav__item {
    font-size: 28px;
  }

  .modal__container {
    max-width: 70%;
  }

  .modal__information {
    font-size: 14px;
  }

  .nav__item_construction {
    top: 15px;
    font-size: 10px;
  }
}

/* -------------------------------------------------------------------------------- */
/*                            MOBILE BREAKPOINT (landscape)                         */
/* -------------------------------------------------------------------------------- */

@media screen and (max-height: 670px) and (min-height: 300px) {

  .modal__container {
    max-height: 70%;
  }
  .footer__text {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
