.admin{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__content{
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 80vh;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}

.admin__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin__header_logout{
    background-color: #cf2a2a;
    border: 2px solid #cf2a2a;
    color: white;
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 4px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}   

.admin__header_logout:hover{
    background-color: #181818;
    color: #cf2a2a;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.admin__header_heading{
    font-size: 20px;
    font-weight: 700;
}

.heading_username{
    color: #cf2a2a;
    position: relative;
}

.heading_username_background{
    z-index: -1;
    background-color: white;
    position: absolute;
    width: 104%;
    height: 120%;
    top: 0;
    right: -2%;;
    transform: skew(-15deg)
}

.admin__main{
    margin: 10px 0;
}