.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login__form {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
}

.login__form_heading {
  font-size: 30px;
  font-weight: 700;
}

.login__form_input {
  font-size: 20px;
  margin: 5px 0;
  background-color: #00000000;
  border-bottom: 2px solid white;
}

.login__form_input:focus {
  outline: none;
}

.photo-stack__item {
  position: absolute;
  height: 200px;
  width: 100%;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.photo-stack__item:hover {
  rotate: 0deg;
  scale: 1.1;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
