.modal {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    visibility: hidden;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
  }
  
  .modal.active {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: visible;
    opacity: 100%;
  }
  
  .modal__container {
    display: flex;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    align-items: flex-start;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    padding: 10px;
    background: #d9d9d9;
    border-radius: 4px;
    z-index: 20;
    position: relative;
  }
  
  .modal__container.active{
   transform: translateX(0);
   transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .modal__preview_image{
    max-width: 50%;
    min-width: 50cqw;
    border-radius: 5px;
    margin: 5px 5px;
    background-color: #181818;
  }
  
  .modal__preview_text{
    font-family: 'Sometype Mono';
    font-weight: 800;
    margin: 10px 0;
  }

  .information__cited {
    font-family: "Kosugi", monospace;
    line-height: 1.5em;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

  .footer__logo {
    position: absolute;
    display: flex;
    top: -6%;
    right: -6%;
    transform: scale(0.9);
    cursor: pointer;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .footer__logo:hover{
    scale: 1.2;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .footer__logo:hover .text_floater{
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  
  .footer__logo:hover .logo__big-rhombus{
    transform: skewX(-15deg) scaleX(2.2) translateX(7px);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .footer__logo .logo__small-rhombus-1,
  .footer__logo .logo__small-rhombus-2 {
    transition: transform 0.5s ease;
  }
  
  .footer__logo:hover .logo__small-rhombus-1 {
    transform: translateX(-10px) skewX(-15deg);
  }
  .footer__logo:hover .logo__small-rhombus-2 {
    transform: translateX(-20px) skewX(-15deg);
  }
  
  .logo__big-rhombus {
    width: 30px;
    height: 38px;
    margin-right: 3px;
    transform: skewX(-15deg);
    background-color: #cf2a2a;
  }
  
  
  .logo__big-rhombus.in_footer{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .logo__small-rhombus-1 {
    width: 10px;
    height: 38px;
    margin-right: 3px;
    transform: skewX(-15deg);
    background-color: #cf2a2a;
  }
  
  .logo__small-rhombus-2 {
    width: 10px;
    height: 38px;
    transform: skewX(-15deg);
    background-color: #cf2a2a;
  }
  
  .text_floater{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
    top: 15%;
    left: 5px;
    font-family: "Kosugi", monospace;
    color: white;
    opacity: 0;
    transition: 0.5s ease-in-out;
    text-shadow: #000 2px 0 5px;
  }

  /* -------------------------------------------------------------------------------- */
/*                                  MOBILE BREAKPOINT 1                             */
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 720px) and (min-width: 370px) {
    
    .information__cited {
      font-size: 12.5px;
    }

    .modal__preview_image{
        min-width: 70cqw;
      }
  }