@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

/* ANIMATIONS */

@keyframes slideIn {
  from {
    transform: scaleX(0) scale(0.9);
    left: 0;
  }
  to {
    transform: scaleX(1) scale(0.9);
    left: 225px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLate {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes clipIn {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes loadCard {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(100px) translateX(-10%)
      rotate3d(-1, 0, 0, 65deg);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px) rotate3d(-1, 0, 0, 0deg);
  }
}

/* HEADER */

.header {
  animation: clipIn 1.5s ease-out;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  border-bottom: 2px solid white;
}

.header__title {
  animation: clipIn 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  font-style: bold;
  color: #e1e1e1;
  margin: 0px 0px 3px;
  font-size: 36px;
  padding: 0;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.319);
  z-index: 1;
  transform: skewX(0deg);
}

.header__title:hover {
  cursor: default;
}

.header__search::before {
  opacity: 0%;
}

.header__search {
  animation: fadeInLate 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  font-family: "Work Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 300;
  font-size: 20px;
  min-width: 50%;
  box-sizing: border-box;
  color: #e1e1e1;
  border-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
}

.header__logo {
  animation: slideIn 2s cubic-bezier(0.17, 0.67, 0.45, 0.98);
  position: absolute;
  display: flex;
  left: 225px;
  bottom: 4px;
  transform: scale(0.9);
}

.header__back {
  opacity: 0;
  position: absolute;
  width: max-content;
  right: -220%;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  color: white;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__logo:hover .header__back {
  opacity: 1;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo__big-rhombus {
  width: 30px;
  height: 38px;
  margin-right: 3px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.logo__small-rhombus-1 {
  width: 10px;
  height: 38px;
  margin-right: 3px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.logo__small-rhombus-2 {
  width: 10px;
  height: 38px;
  transform: skewX(-15deg);
  background-color: #cf2a2a;
}

.header__logo .logo__small-rhombus-1,
.header__logo .logo__small-rhombus-2 {
  transition: transform 0.5s ease;
}

.header__logo:hover .logo__small-rhombus-1 {
  transform: translateX(-10px) skewX(-15deg);
}
.header__logo:hover .logo__small-rhombus-2 {
  transform: translateX(-20px) skewX(-15deg);
}

input:focus {
  outline: none;
}

/* -------------------------------------------------------------------------------- */
/*                                  MOBILE BREAKPOINT 1                             */
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 720px) and (min-width: 370px) {
  .page {
    min-width: 320px;
  }

  .header {
    min-width: 320px;
    font-family: "Work Sans", sans-serif;
    width: 100%;
    border-bottom: 2px solid white;
  }

  .header__title {
    animation: clipIn 1.5s cubic-bezier(0.17, 0.67, 0.45, 0.98);
    font-size: 24px;
  }

  .header__title:hover {
    cursor: default;
  }

  .header__search {
    font-size: 20px;
  }

  @keyframes slideIn {
    from {
      transform: scaleX(0) scale(0.6);
      left: 0;
    }
    to {
      transform: scaleX(1) scale(0.6);
      left: 140px;
    }
  }

  .header__logo {
    animation: slideIn 2s cubic-bezier(0.17, 0.67, 0.45, 0.98);
    left: 140px;
    bottom: 4px;
    transform: scale(0.6);
  }
}
